.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  
  /* Animated Background */
  background: linear-gradient(-45deg, pink, #a51c30 , #c52233, #a7333f, #74121d);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

/* The math for the movement */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.btn-yes {
  background-color: #ff4d6d;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.btn-yes:hover {
  transform: scale(1.1);
}

.btn-no {
  background-color: #ffffff;
  color: #ff4d6d;
  border: 2px solid #ff4d6d;
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 10;
  
}


.gif {
  width: 250px;
  height: auto;
  border-radius: 15px;
  margin-top: 20px;
}

.button-group {
  margin-bottom: 20px;
}

p {
  display: flex;
  width: 50%;
  height: 50%;
}

.love-message {
  font-size: 1.2rem;
  max-width: 80%;
  line-height: 1.6;
  margin: 20px auto;
  color: #555;
}
